
<header>
    <!-- Parte Izquierda con logo -->
    <div id="header-logo">
        <!-- Logo -->
        <img src="/assets/images/logo-colibri.jpg" alt="Logo Colibri">
        <div>
            <h1>OBRA SOCIAL COLIBRI</h1>
            <h5>UNA OBRA SOCIAL</h5>
        </div>
        
    </div>
    <!-- Parte derecha -->
    <!-- Menu Principal-->
    <nav>
        <ul>
            <li><a [routerLink]="['home']">Inicio</a></li>
            <li><a [routerLink]="['images']">Imagenes</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a [routerLink]="['registro']">Registro</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
</header>
    
