<div class="container">
    <div>
        <img src="/assets/images/imagen1.jpg" width="600px" height="450px">
    </div>
</div>
<!-- Tarjetas -->
<div class="container">
    <div class="cards">
        <div class="card">
            <h3>A.R.T.</h3>
            <hr>
            <img src="/assets/images/mecanico.svg">
            <p>Compará aseguradoras, precios y coberturas. Ahorrá hasta el 30% tomando una decisión inteligente.</p>
            <a href="#">Leer Más</a>
        </div>

        <div class="card">
            <h3>Auto</h3>
            <hr>
            <img src="/assets/images/auto.svg">
            <p>Estamos para ayudarte. Te brindamos asesoramiento independiente e inmediato.</p>
            <a href="#">Leer Más</a>
        </div>

        <div class="card">
            <h3>Embarcación</h3>
            <hr>
            <img src="/assets/images/barco.svg">
            <p>No pierdas tiempo en múltiples llamadas. Obtené todas las cotizaciones en un solo click.</p>
            <a href="#">Leer Más</a>
        </div>

        <div class="card">
            <h3>Medico</h3>
            <hr>
            <img src="/assets/images/icono1.jpg">
            <p>Una protección indispensable para disfrutar de tu vida, sabiendo que ante cualquier inconveniente, estamos para cuidarte.</p>
            <a href="#">Leer Más</a>
        </div>
    </div>
</div>