  <!-- Formulario -->
  <div class="container">
    <form>
        <div>
            <table>
                <tr>
                    <td bgcolor="grey">
                        <label for="">ID de ingreso</label>
                    </td>
                    <td>
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td bgcolor="grey">
                        <label for="">Contraseña</label>
                    </td>
                    <td>
                        <input type="password">
                    </td>
                </tr>
                <tr>
                    <td bgcolor="grey">
                        <label for="">Repita la Contraseña</label>
                    </td>
                    <td>
                        <input type="password">
                    </td>
                </tr>
                <tr>
                    <td bgcolor="grey">
                        <label for="">Email</label>
                    </td>
                    <td>
                        <input type="email">
                    </td>
                </tr>
                <tr>
                    <td bgcolor="grey">
                        <label for="">Repita Email</label>
                    </td>
                    <td>
                        <input type="email">
                    </td>
                </tr>
                <tr>
                    <td bgcolor="grey">
                        <label for="">Lista de Email</label>
                    </td>
                    <td>
                        <input type="radio" id="si">
                        <label for="si">Si</label>
                        <input type="radio" id="no">
                        <label for="no">No</label>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="grey">
                        <label for="">Nombre</label>
                    </td>
                    <td>
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td bgcolor="grey">
                        <label for="">Sexo</label>
                    </td>
                    <td>
                        <input type="radio" id="fem" name="sexo">
                        <label for="fem">Femenino</label>
                        <input type="radio" id="mas" name="sexo">
                        <label for="mas">Masculino</label>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="grey">
                        <label for="">Fecha de nacimiento</label>
                    </td>
                    <td>
                        <input type="date">
                    </td>
                </tr>
                <tr>
                    <td bgcolor="grey">
                        <label for="">Pais</label>
                    </td>
                    <td>
                        <select>
                            <option>Argentina</option>
                            <option>Bolivia</option>
                            <option>Brazil</option>
                            <option>Perú</option>
                            <option>Uruguay</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div class="botones">
                <button>Enviar</button>
                <button>Cancelar</button>
            </div>            
        </div>
        
    </form>
</div>
